$margin-p: 8px;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &.projects {
    height: calc(100% - 1lh - ($margin-p * 2));

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &.experience {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: calc(100% - 1lh - ($margin-p * 2));
  }

  &.specialized {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: calc(100% - 1lh - ($margin-p * 2));

    .specialization {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.box {
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 10px;
  padding: 10px;

  &.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    margin: $margin-p 0 $margin-p 0;
  }

  &.profile {
    background-image: url("/assets/profile/yo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;

    .profile-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.3s ease;
    }

    &:hover {
      filter: brightness(1);
      transform: scale(1.01);

      .profile-image {
        transform: scale(1.1);
      }
    }
  }

  .name {
    display: flex;
    text-align: end;
    text-wrap-mode: nowrap;
    justify-content: end;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }
}

.large {
  grid-column: span 3;
  grid-row: span 2;
  background-size: cover;
  background-position: center;
}

.project {
  filter: brightness(0.8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    filter: brightness(1);
    transform: scale(1.005);

    img {
      transform: scale(1.05);
    }
  }

  img {
    height: 70%;
    max-width: 70%;
    aspect-ratio: inherit;
    transition: all 0.3s ease;
    object-fit: contain;
    pointer-events: none;
  }
}
