.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;

  &.horizontal {
    height: calc(100% - 1lh - 16px);
  }

  .language {
    grid-row: span 1;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .icon {
      object-fit: contain;
      aspect-ratio: 1;
      filter: contrast(0.9) brightness(0.9);
      padding: 1em;
      width: min-content;
      height: min-content;
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

.box {
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.01);
      filter: brightness(1.1);
    }
  }

  .touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  p {
    margin: 8px 0 8px 0;
  }

  &.large {
    grid-column: span 2;
  }

  &.large-vertical {
    grid-row: span 2;
  }

  &.large-both {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  &.profile {
    background-image: url("/assets/profile/yo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @media screen and (max-width: 1000px) {
      height: 25em;
    }

    .profile-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .name {
      text-align: end;
      text-wrap-mode: nowrap;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0;
    }

    .age {
      text-align: end;
      margin: 0;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100% - 1lh - 16px);
    justify-content: space-evenly;

    &.horizontal {
      flex-direction: row;
      align-items: stretch;
    }
  }
}
