.row {
  display: flex;
  flex-direction: row;
  color: white;
  background: radial-gradient(circle at top left, #4d416a77, #10101477);
  height: 100dvh;
  width: 100dvw;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.col {
  flex: 0;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
}

.title {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.5);
  writing-mode: sideways-lr;
  text-orientation: mixed;
  font-size: 1.5em;
  display: flex;
  font-weight: normal;
  padding-bottom: 1em;
  cursor: pointer;

  @media screen and (max-width: 1000px) {
    font-size: 1.2em;
    writing-mode: horizontal-tb;
    text-orientation: upright;
    padding-left: 1em;
    padding-bottom: 0;
  }

  .selected {
    font-weight: bold;
  }

  &:hover {
    $shadow-color: #ffffff34;

    text-shadow: -1px -1px 0 $shadow-color, 1px -1px 0 $shadow-color,
      -1px 1px 0 $shadow-color, 1px 1px 0 $shadow-color;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.content-hide {
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.isActive {
  flex: 1;
  width: auto;
  opacity: 1;
}

.scrollable {
  overflow-y: auto;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 40px);

  @media screen and (max-width: 1000px) {
    font-size: 1.2em;
    height: auto;
  }
}
