<main class="row">
  <app-background-stars class="stars"></app-background-stars>

  @for (tab of tabsListEntries; track $index) {
  <div class="col title" (click)="selectTab(tab[0])">
    <p [ngClass]="{'selected': tabService.currentTab === tab[0]}">{{ tab[1] }}</p>
  </div>
  <div class="col scrollable content-hide" [ngClass]="{'isActive': tabService.currentTab === tab[0]}">
    @switch (tab[0]) {
    @case (TABS.HOME) {
    <app-home-content class="main-content"></app-home-content>
    }
    @case (TABS.PROJECTS) {
    <app-projects-content class="main-content"></app-projects-content>
    }
    @case (TABS.ABOUT) {
    <app-about-content class="main-content"></app-about-content>
    }
    @case (TABS.CONTACT) {
    <app-contact-content class="main-content"></app-contact-content>
    }
    }
  </div>
  }
</main>
