@defer (on viewport) {
@if (projectsService.currentlyActiveId === null) {
<div class="grid appear">
  @for (item of projects; track $index) {
  <div class="box project" [class]="item.class" style="background-image: url('{{ item.backgroundImage }}');"
    (click)="setCurrentlyActiveId(item.id)">
    <img [src]="item.imageThumb ?? item.image" [alt]="item.name" />
  </div>
  }
</div>
}
@else {
<app-projects-details class="row appear"></app-projects-details>
}
}
@placeholder {
<div></div>
}

