.all {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.info {
  margin: 5px 0;
  font-size: 0.8em;

  @media screen and (max-width: 1000px) {
    margin: 10px 0 0 0;
  }
}

a {
  color: white;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

.box {
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
    filter: brightness(1.1);
  }

  &.large {
    grid-column: span 2;
  }

  .icon {
    width: 200px;
    height: 200px;

    @media screen and (max-width: 1000px) {
      width: 100px;
      height: 100px;
    }
  }

  .name {
    @media screen and (max-width: 1000px) {
      margin-bottom: 0;
    }
  }
}
