@defer (on viewport) {
<div class="all">
  <div class="grid">
    <a class="box large" href="/assets/contact/cv.pdf" target="_blank">
      <lord-icon trigger="in" src="/assets/contact/cv.json" stroke="bold" state="in-reveal"
        style="width: 200px; height: 200px;">
      </lord-icon>
      <p>Download CV</p>
    </a>
    <a class="box" href="https://github.com/AleixFerre" target="_blank">
      <lord-icon trigger="in" src="/assets/contact/github.json" stroke="bold" state="in-reveal"
        style="width: 200px; height: 200px;">
      </lord-icon>
      <p>Github</p>
    </a>
    <a class="box" href="https://aleixferre.itch.io/" target="_blank">
      <lord-icon trigger="in" src="/assets/contact/itchio.json" stroke="bold" state="in-reveal"
        style="width: 200px; height: 200px;">
      </lord-icon>
      <p>Itch.io</p>
    </a>
    <a class="box" href="https://www.linkedin.com/in/aleixferre/" target="_blank">
      <lord-icon trigger="in" src="/assets/contact/linkedin.json" stroke="bold" state="in-reveal"
        style="width: 200px; height: 200px;">
      </lord-icon>
      <p>LinkedIn</p>
    </a>
    <a class="box" href="mailto:afj.99@hotmail.com" target="_blank">
      <lord-icon trigger="in" src="/assets/contact/email.json" stroke="bold" state="in-reveal"
        style="width: 200px; height: 200px;">
      </lord-icon>
      <p>Email</p>
    </a>
  </div>
  <p class="info">
    <a href="https://lordicon.com/">Animated icons by Lordicon.com</a> |
    <span>Home icons created by <a href="https://www.flaticon.com/free-icons/project">Circlon Tech</a> &
      <a href="https://www.flaticon.com/free-icons/game-planning">Freepik</a> - Flaticon
    </span> |
    <a href="https://github.com/AleixFerre/aleixferre.github.io">Source code for this website</a>
  </p>
</div>
}
@placeholder {
<div></div>
}
